<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wedding Invitation</title>
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
    <div class="wedding-invitation">
      <div>
        <h1>Hi {{invitee}}</h1>
        <div>Accept Wedding Invitation from</div>
        <h1>{{invitor}}</h1>
        <button class="accept-button">Accept Invitation</button>
      </div>
    </div>
  </body>
</html>
