/* padding  */
.p-1-2 {
    padding: 50% !important;
}

.px-1-5 {
    padding-inline: 20%;
}

/* custome styles */
.wedding-invitation {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.accept-button {
    background-color: #00FFFF;
    box-shadow: none;
}